*
{
 //border: dashed thin;
}
body
{
  width: 80%;  
  margin: 0 auto;
}
#maincontent
{  
  width: 80%;  
  float: right;
}
#navigation
{  
  width: 18%; 
}
#header
{  
  width: 100%;
}
#footer
{  
  width: 100%;
  clear: both;
}
#primary
{  
  width: 68%;  
  float: left;  
}

#secondary
{  
  width: 30%;  
  float: right;
}